@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h1 class="display-4">About Me</h1>
                    <p class="text-md-start">
                        I am an early career software engineer that loves backend technologies and recursion. I graduated from Western
                        Governers University in October 2025 with a B.S. in Software Engineering. Prior to that, I earned my A.A.T. in Computer
                        Programming from Clover Park Technical College in Lakewood, WA. I have experience building web applications using .NET,
                        Java, and Python. I also have experience building Android applications using Java and Kotlin. In my free time, I enjoy
                        building games using the Godot game engine and pixel art using Aseprite. I have also recently begun modding games.
                    </p>
                </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<div class="text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3>Degrees and Certifications</h3>
                <p class="text-md-start">
                    In March of 2025, I earned my A.A.T. in Computer Programming from Clover Park Technical College. I started my 
                    B.S. in Software Engineering at Western Governers University in May of 2025 and graduated 6 months later in October
                    of 2025. In October, I completed three certifications: AWS Certified Cloud Practitioner, ITIL Foundations 4, and
                    CompTIA Project+. Clover Park was a project and skill based program that taught me the fundamentals of programming. 
                    WGU was a more in-depth program that taught me software engineering principles and best practices. I took the Java 
                    program path at WGU, which gave me experience building full-stack applications using Java Spring Boot.
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<div class="text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3>Languages and Technologies</h3>
                <p class="text-md-start">
                    I was taught how to work in full-stack enviroments so I know a wide variety of languages and technologies. My main
                    languages are C#, Java, Python, JavaScript, HTML, and CSS. I have experience working with .NET, Java Spring Boot,
                    AWS, Docker, Git, SQL, and NoSQL databases. I have also worked with Android development using Java and Kotlin.
                    I have strong problem-solving skills and a passion for learning new technologies. I am always looking to
                    improve my skills and practice what I already know. I prefer backend development, but I am also comfortable working
                    with frontend technologies. I improved my object-oriented skills through nuemrous games including a Phaser.JS game I 
                    built in my second quarter at Clover Park. 
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<div class="text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3>Hobbies and Interests</h3>
                <p class="text-md-start">
                    In my spare time, I enjoy building and playing Indie Games. I also enjoy creating Arduino projects. 
                    I play guitar, some piano, and I am learning to play violin and drums. I spend a lot of time baking, especially 
                    when I am spending time with my grandmothers. I have recently been getting into 3D printing, and am excited
                    to create custom robotic parts for my projects. 
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
