@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>My name is Emily Skelley, and I am a Software Engineer</h3>
    <p>I love working on backend projects, but I also have lots of experience with front end. I work with relational and non-relational databases, 
        I work with frameworks like .NET and Java Spring Boot. I have cloud experience with Azure and AWS. I also make games in my spare time. Examples 
        are available on the <a asp-controller="Home" asp-action="Projects">Projects</a> page and on <a href="https://github.com/eskelProgramming">my GitHub.</a>
    </p>
</div>
<div class="text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><a asp-controller="Home" asp-action="About">About Me</a></h3>
                <p class="text-md-start">
                    <a asp-controller="Home" asp-action="Projects">
                        My first exposure to programming was in 2013 when I was 8. I worked my way through the Khan Academy Intro to JS Animation course. I never 
                        really put the pieces together on how to make that fun little project I did one summer into a career until I started at Clover Park Technical College. 
                        There, I learned the basics in Python, HTML/CSS/JavaScript, and SQL. My skills only grew as I contiued on to learning C#, Java, Kotlin, and all about cloud
                        based solutions like AWS and Azure. I learned about project management in my CompTIA Project+ course, and I have begun contributing to open source projects. 
                        I love learning new things, and will continue to expand my professional and personal portfolio. 
                    </a>
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<div class="text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><a asp-controller="Home" asp-action="Projects">Projects</a></h3>
                <p class="text-md-start">
                    <a asp-controller="Home" asp-action="Projects">
                        Take a look at some of my best Projects! These include my school, personal projects and even this website!
                        These project show off my skills and knowledge, so please take a second to check them out!
                    </a>
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
