@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This website does not collect any information, store any cookies, or store any data of any kind. This is purely 
    a portfolio website created to showcase my skills and projects.
</p>
