@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1 class="display-4">Projects</h1>
    <p>Between my time in college and my personal projects, I have a wide varitey of projects. These include .NET WebApps, 
        Java/Kotlin Android apps, Godot games, and community contributions. Unfortunatly, I cannot share my projects from my
        time at WGU because I lost access to them after graduating.
    </p>
</div>
<div class="text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <img src="https://placehold.net/600x600.png"
                     alt="Placeholder Image"
                     class="img-fluid"
                     style="max-width:16em; height:12em;">
            </div>
            <div class="col-md-7">
                <h3>Portfolio Website</h3>
                <p class="text-md-start">
                    This very website you are currently viewing! Built using ASP.NET Core MVC and Bootstrap, this website is 
                    being hosted using a Docker Image on AWS. I wanted somewhere to show off my best projects and technical 
                    skills. During my time at Clover Park Technical College, the web apps I built mainly used the .NET framework. 
                    At WGU, I also built and worked within full-stack Java Spring Boot applications. I chose the .NET framework
                    for this project because I wanted to test out the recent Visual Studio 2026 and .NET 10.0 release. 
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <h3>Operant Conditioning</h3>
                <p class="text-md-start">
                    This was my portfolio project for my A.A.T. in Computer Programming  at Clover Park Technical College. It is a
                    2D platformer built using Godot Game Engine and Aseprite. THe main game mechanic is running, jumping, slowing time, 
                    and throwing wrenches at enemies. I created the pixel art, and it is still a work in progress. There is a playable 
                    version available on the GitHub page. I am continuing to work on this project in my free time to improve my skills. 
                </p>
            </div>
            
            <div class="col-md-3">
                <img src="https://placehold.net/600x600.png"
                     alt="Placeholder Image"
                     class="img-fluid"
                     style="max-width:16em; height:12em;">
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <img src="https://placehold.net/600x600.png"
                     alt="Placeholder Image"
                     class="img-fluid"
                     style="max-width:16em; height:12em;">
            </div>

            <div class="col-md-7">
                <h3>Ladybug Gardening</h3>
                <p class="text-md-start">
                    This is a Godot Project I started between graduating Clover Park and staring my degree at WGU. 
                    It is a 2D pixel art gardening sim where you play as a Ladybug. You can plant seed, harvest plants, 
                    and sell produce. I created the pixel art using Aseprite. This project is still a work in progress,
                    and is not in a playable state yet. I am still working on this during my free time. Eventually, I would 
                    like to publish this on Steam or Itch.io. 
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <h3>Simon Says</h3>
                <p class="text-md-start">
                    This is a Kotlin Android app that is inspired by the 1980's Simon games. This app was made for my Android class at Clover Park. 
                    There is a home page where you can start a new game. During the game, one of four games will light up, and the player has to repeat the pattern.
                    If the player repeats correctly their score increases and play continues. If the do not, the game is over, and their score resets. 
                    There are three difficulties: Easy, Medium, and Hard. When you increase the difficulty, the about of time a button flashes is shortened. 
                </p>
            </div>

            <div class="col-md-3">
                <img src="https://placehold.net/600x600.png"
                     alt="Placeholder Image"
                     class="img-fluid"
                     style="max-width:16em; height:12em;">
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <img src="https://placehold.net/600x600.png"
                     alt="Placeholder Image"
                     class="img-fluid"
                     style="max-width:16em; height:12em;">
            </div>

            <div class="col-md-7">
                <h3>Archipelago Community Project</h3>
                <p class="text-md-start">
                    The Archipelago Multiword Server is a project that involves randomizing items in game and allowing items 
                    to be unlocked in other games. For example, if you finish a mission in one game, instead of unlocking the normal
                    reward, it unlocks a random item or ability in someone elses game. I am still contributing to this project
                    by adding new games to the server. I am currently adding Hogwarts Legacy as a new game to the server.
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
